body{
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
    
}
div{
    display: flex;
    
}

.row{
    flex-direction: column;
}
.gridContainer{
    border: solid darkblue 3px;
}


/*
.square{
    height: 50px;
    width: 50px;
}
*/